@import url('https://fonts.googleapis.com/css?family=Amiko&display=swap');

.app {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 5vh 5vh 90vh;

    font-family: Amiko, sans-serif;
}
.topbar {
    grid-column: 1 / 11;
    grid-row: 1 / 1;
    
    color: white;
    font-weight: bold;
    padding: 1vh;

    background-color: #0197F6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search {
    grid-column: 1 / 11;
    grid-row: 2 / 2;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.start{
    order: 1;
    font-weight: bold;
    padding: 1vh;
    height: 5vh;
    width: 30vw;
    display: flex;
    flex-grow: 2;
    box-sizing: border-box;
    
}
.end {
    order: 2;
    font-weight: bold;
    height: 5vh;
    width: 30vw;
    flex-grow: 2;
    box-sizing: border-box;
    padding: 1vh;
}
.submit {
    order: 3;

    height: 5vh;
    width: 10vw;
    box-sizing: border-box;
}
.map {
    grid-column: 1 / 11;
    grid-row: 3 / 3;
}